# Virtual Environment
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
*.tmp

# Model checkpoints and large files
*.h5
*.ckpt

# Local data files
temp*.tif
temp*.png
